*.opensdf
*.sdf
Project_Calorie-Counter-Food-Database/Project_Calorie-Counter-Food-Database.sln
*.suo
Project_Calorie-Counter-Food-Database/Project_Calorie-Counter-Food-Database.vcxproj
*.filters
*.tlog
*.sln
myProject_CalorieCounterFoodDatabase/myProject_CalorieCounterFoodDatabase.vcxproj
*.obj
myProject_CalorieCounterFoodDatabase/Debug/myProject_CalorieCounterFoodDatabase.ilk
*.idb
myProject_CalorieCounterFoodDatabase/Debug/vc120.pdb
*.pdb
myProject_CalorieCounterFoodDatabase/Debug/myProject_CalorieCounterFoodDatabase.log
*.exe
*.ilk
Project_Calorie-Counter-Food-Database/Debug/Project_Calorie-Counter-Food-Database.log
*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.plist

main.cpp

.metadata/.lock

.metadata/.log

.metadata/.plugins/org.eclipse.cdt.core/.log

.metadata/.plugins/org.eclipse.cdt.make.core/specs.c

.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp

.metadata/.mylyn/repositories.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index

*.snap

*.properties

*.index

*.resources

*.prefs

.metadata/.plugins/org.eclipse.rse.core/.log

*.mark

.metadata/.plugins/org.eclipse.rse.ui/.log

.metadata/.plugins/org.eclipse.team.cvs.core/.running

*.ini

RemoteSystemsTempFiles/.project

*.pdom

*.xml

*.c

*.xmi

*.history

*.xccheckout
newFoodInput.txt
Project_Calorie-Counter-Food-Database/Debug/Project_Calorie-Counter-Food-Database.Build.CppClean.log
